.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.logoStart {
  height: 15vmin;
}

.homeIcon {
  height: 10vmin;
}

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}
